.splashback
.container
  .row
    .col-sm-6.col-md-4
      %h2.splashtext Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %div.form-group.splashtext
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: 'form-control'
        %div.form-group.splashtext
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        - if devise_mapping.rememberable?
          %div.form-group.splashtext
            = f.check_box :remember_me, class: 'form-control'
            = f.label :remember_me
        %div= f.submit "Sign in"
      = render "devise/shared/links"
